/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, h1, h2, h3, h4, p,
a, img, ol, ul, li, form, label, caption, 
figure, footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.4;
	font-family:Arial, Helvetica, sans-serif;
	color: #0e0384; /*navyblue*/
}

ol, ul {
	list-style: none;
}

/* micro clear fix */
.grouping:before,
.grouping:after {
	content:" ";
	display:table;
}

.grouping:after {
	clear:both;
}

img, iframe, video, object {
	max-width: 100%;
	height: auto;
	display: block;
}


/***********/
/* CONTENT */
/***********/

.links {
	color: inherit;
}

.highlight {
	color: #0e0384; /*navyblue*/
	font-family: 'Rufina', serif;
}

.wrapper {
	min-height: 100vh;
	overflow-y: scroll;
	margin: 0 auto;
	position: relative;
}

.flex {
	display: flex;
	flex-flow: row wrap;
	margin: 0 auto;
	overflow-y: scroll;
}

.left {
	flex-basis: 100%;
	min-height: 50vh;
	background-color: #00ffc3; /*mint*/
	color: #0e0384; /*navyblue*/
	font-family: 'Rufina', serif;
}

.title {
	color: #0e0384; /*navyblue*/
	width: 40%;
	margin: 10% auto 0 auto;

}

h1 {
	text-align: left;
	font-size: 3em;
	font-weight: 700;
}

h2 {
	font-size: 1.5em;
	text-align: right;
	font-style: italic;
}

.right {
	flex-basis: 100%;
	background-color: #e5fcf6; /*white-ish*/
	font-family: 'Oxygen', sans-serif;
}

footer {
	width: 100%;
	height: auto;
	position: absolute;
	bottom: 0;
	background-color: #0e0384; /*navyblue*/
	color: #e5fcf6; /*white-ish*/
}

.copy {
	text-align: center;
	font-size: 1.1em;
}

#listings {
	margin: 0 auto;
	padding: 40px;
}

.article {
	margin: 10px 0;
	letter-spacing: 1.1px;
	text-decoration: underline;
	font-size: 1.2em;
}

.summary {
	border-bottom: 1px solid #0e0384; /*navyblue*/
	padding: 0 20px 20px 20px;
	text-align: justify;
}

/***********/
/** FORM  **/
/***********/

#searchForm {
	width: 40%;
	display: block;
	margin: 25px auto;
}

label,
.search {
	display: inline-block;
	height: 50px;
	width: 50px;
	margin: 0;
	font-size: 1.5em;
	background-color: #0e0384; /*navyblue*/
	color: #e5fcf6; /*white-ish*/
	outline: none;
	border: none;
}

#random {
	display: block;
	width: 30%;
	margin: 0 auto;
	padding: 10px;
	font-size: 1.2em;
	background-color: #0e0384; /*navyblue*/
	color: #e5fcf6; /*white-ish*/
	outline: none;
	border: none;
}

input {
	display: inline-block;
	height: 40px;
	width: 85%;
	padding: 5px;
	margin: 0;
	font-size: 1.2em;
	border: 1px solid #99F0CA; /*green*/
	color: #0e0384; /*navyblue*/
}


/********************/
/** MEDIA QUERIES  **/
/********************/

/*@media screen and (min-height: 750px) {
	.flex {
		min-height: 75vh;
	}
}

@media screen and (min-width:900px) {
	.left, .right {
		flex-basis: 50%;
	}
}*/